<div>
    <img  data-dojo-attach-point="avatarNode"
          class="${baseClass}Avatar"
          src="${avatar}">
    <b><span data-dojo-attach-point="authorNode">${author} </span></b>
    wrote at <span data-dojo-attach-point="pub_date"
                   class="date">${!pub_date}</span>:
    <p  data-dojo-attach-point="contentNode"
        class="content"
        data-dojo-type="dijit/InlineEditBox"
        data-dojo-props="
            editor:'dijit/form/ValidationTextBox',
            autoSave: false, disabled:  true,
            editorParams: {required:'true', maxLength: '10'}">${content}</p>
    <span>${nls.txtEditedby}: ${updated_by}</span> ${nls.txtAt} <span class="date"> ${date_modified}</span><br/>
	<button data-dojo-type="dijit/form/Button"
            data-dojo-attach-point="detailButtonNode"
            style="display: inline" value="Detail">&nbsp;${nls.detail}&nbsp;</button>
    <button data-dojo-type="dijit/form/Button"
            data-dojo-attach-point="deleteButtonNode"
            style="display: inline; visibility: hidden" value="Delete">&nbsp;${nls.delete}&nbsp;</button>

    <br/>
</div>